@model Curso.DataAccess.Models.Personas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Personas</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Hermanos" class="control-label"></label>
                        <input asp-for="Hermanos" class="form-control" />
                        <span asp-validation-for="Hermanos" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FechaDeNacimiento" class="control-label"></label>
                        <input asp-for="FechaDeNacimiento" class="form-control" />
                        <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IdTipoPersona" class="control-label"></label>
                        <select asp-for="IdTipoPersona" onchange="TipoPersona();" class="form-control" asp-items="ViewBag.IdTipoPersona"></select>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="IdSubTipoPersona" class="control-label"></label>
                        <select asp-for="IdSubTipoPersona" class="form-control" asp-items="ViewBag.IdSubTipoPersona"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="form-group float-right">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type="text/javascript">


    function TipoPersona() {
        $.ajax
            ({
                url: '/PersonasSubTipo/GetSubTipo',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                data: {
                    "Id": $("#IdTipoPersona").val(),
                    "selectedIdValue": 0
                },
                datatype: "json",
                cache: false,
                success: function (result) {
                    $("#IdSubTipoPersona").html("");
                    $.each(result, function (i, subTipo) {
                        $("#IdSubTipoPersona").append($('<option ></option>').val(subTipo.value).html(subTipo.text));
                    });
                },
                error: function () {
                    //alert("Whooaaa! Something went wrong..")
                }
            });

    }
</script>
