<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Curso.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Curso.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Quienes">Quienes!!!</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrador")))
                        {
                            <li id="paneladmin" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración</a>
                                <div class="dropdown-menu hideshowontop hidetop" aria-labelledby="navbarDropdown">
                                    <ul class="dropdown nav-item parent-sub-menu">
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="paneladmin" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABM Maestros</a>
                                <div class="dropdown-menu hideshowontop hidetop" aria-labelledby="navbarDropdown">
                                    <ul class="dropdown nav-item parent-sub-menu">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="CategoriaProductos" asp-action="Index">Categoria de Productos</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ClienteTipoes" asp-action="Index">ClienteTipo</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ClientesLogs" asp-action="Index">ClientesLog</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ComprasDetalles" asp-action="Index">Detalles de Compra</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="FormaDePago" asp-action="Index">Forma de Pago</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Personas" asp-action="Index">Personas</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="PersonaLogs" asp-action="Index">PersonaLogs</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductoTipo" asp-action="Index">ProductoTipo</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ProveedoresCategorias" asp-action="Index">ProveedoresCategorias</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="VentasDetalles" asp-action="Index">Detalles Ventas</a>

                                        </li>
                                    </ul>
                                </div>
                            </li>                    
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Curso.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
