@model Curso.DataAccess.Models.Productos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdProductoTipo" class="control-label"></label>
                        <select asp-for="IdProductoTipo" class="form-control" asp-items="ViewBag.IdProductoTipo"></select>
                        <span asp-validation-for="IdProductoTipo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdProductoCategoria" class="control-label"></label>
                        <select asp-for="IdProductoCategoria" class="form-control" asp-items="ViewBag.IdProductoCategoria"></select>
                        <span asp-validation-for="IdProductoCategoria" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdProductoSubTipo" class="control-label"></label>
                        <select asp-for="IdProductoSubTipo" class="form-control" asp-items="ViewBag.IdProductoSubTipo"></select>
                        <span asp-validation-for="IdProductoSubTipo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Borrado)
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @Html.CheckBox("Borrado", Model.Borrado.GetValueOrDefault(), new { @class = "" })
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

                <div class="col-md-6"></div>
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
