@model Curso.DataAccess.Models.ClientesLog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ClientesLog</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ClienteTipoId" class="control-label"></label>
                        <input asp-for="ClienteTipoId" class="form-control" />
                        <span asp-validation-for="ClienteTipoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ClienteCategoriaId" class="control-label"></label>
                        <input asp-for="ClienteCategoriaId" class="form-control" />
                        <span asp-validation-for="ClienteCategoriaId" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdCliente" class="control-label"></label>
                        <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                        <span asp-validation-for="IdCliente" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdUsuario" class="control-label"></label>
                        <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Borrado)
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @Html.CheckBox("Borrado", Model.Borrado.GetValueOrDefault(), new { @class = "" })
                        </label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Localidad" class="control-label"></label>
                        <input asp-for="Localidad" class="form-control" />
                        <span asp-validation-for="Localidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
